<html>
	<head>
<html>
<head>
		<title>My page</title>
	</head>
<body>
<h1>ABOUT VIKAS</h1>
<hr>
	Welcome in <b>Sushant IT College</b> it is situated in <i>Naini</i>.After 10<sup>th</sup> you can joing <big><big><big>Computer Courses</big></big></big>.<br>
<hr>
<font face="impact" color="green" size="6">United College</font>
<br>
	It is the <u>Engineering College</u> situated in Naini.
	<br>
<h1>Simple C Program</h1>
<pre>
#include &lt stdio.h &gt
#include &lt conio.h &gt
void main()
{
	clrscr();
	printf("Hello");
	getch();
}
</pre>
</body>
</html>